#container {
  font-family: Arial, Helvetica, sans-serif;
  width: 232px;
  margin-top: 160px;
  border: 1px solid black;
  padding: 5px;
}

.tborder {
  border-top: 2px solid black;
}

.bborder {
  border-bottom: 2px solid black
}

.row {
 display: flex;
 justify-content: space-between;
 align-items: flex-end;
 font-size: 12px;
 margin: 0;
 padding: 0;
}

.caption {
  font-size: 9px;
  font-weight: bold;
  font-family: Arial Black;
  line-height: 1;
}

.right {
  display: flex;
  justify-content: flex-end !important;
  align-items: flex-end;
}

.right div {
  margin-left: 5px !important;
}

.values {
  text-align: right;
  width: 40px;
  margin: 0;
  padding: 0
}

.btable .row {
  font-size: 9px !important;
}
.btable .values {
  width: 30px;
  margin-right: 3px;
  text-align: left;
}

.indented {
 margin-left:10px;
}

.center {
  text-align: center;
  font-size: 9px;
  margin-top: 2px;
}

.details {
  font-size: 11px;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

p {
  margin: 0;
  margin-bottom: 1px;
  font-size: 0.75em;
  font-weight: bold;
}

hr {
  margin: 0;
  background-color: black;
  color: black;
  border-width: 0;
  margin-bottom: 3px;
  margin-top: 3px;
}
hr.thick {
  height: 8px;
}
hr.medium {
  height: 4px;
}
hr.thin {
  height: 1px;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;

}
