#container {
  font-family: Arial, Helvetica, sans-serif;
  width: 232px;
  margin-top: 160px;
  border: 1px solid black;
  padding: 5px;
}

.flex {
 display: flex;
 justify-content: space-between;
}

.small {
  font-size: 9px;
  font-weight: bolder;
}

.values {
  max-width: 15%;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
}

p {
  margin: 0;
  margin-bottom: 1px;
  font-size: 0.75em;
  font-weight: bold;
}

hr.thick {
  margin: 0;
  background-color: black;
  color: black;
  border-width: 0;
  height: 8px;
}
